@charset "UTF-8";
/*
Tipical Device Breakpoints
Pequenas Telas: até 600px
Celular: de 601px até 768px
Tablet: de 769px até 992px
Desktop: de 992px até 1200px
TV: acima de 1200px
*/
:root{
    --cor0: #a42fe0;
    --cor1: #efec47;
    --cor2: #e7e2e6;
    --cor3: #312c37;
    
    --font0: 'Fugaz One';
    --font1: 'SaeadaEL', arial, sans-serif;
    --font2: 'SaeadaL', arial, sans-serif;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    /*CONFIGURAÇÃO PARA TABLETS*/
    body{
        background-image: linear-gradient(140deg, #312c37, #a42fe0, #efec47, #e7e2e6);
    }
    section#login{
        width: 80vw;
        height: 350px;
    }
    section#login>div#img{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login>div#form{
        float: right;
        width: 70%;
    }
    #form h1{
        font-size: 2.0em;
    }
    #form p{
        font-size: 1.2em;
        margin: 20px 0px;
    }
}

@media screen and (min-width: 993px) {
    /*cONFIGURAÇÃO PARA PC E TELAS GRANDES*/
    body{
        background-image: linear-gradient(320deg, #312c37, #a42fe0, #efec47, #e7e2e6);
    }
    section#login{
        width: 950px;
        height: 400px;
    }
    section#login>div#img{
        float: right;
        width: 35%;
        height: 100%;
    }
    section#login>div#form{
        float: left;
        width: 65%;
    }
    #form h1{
        font-size: 3.0em;
    }
    #form p{
        font-size: 1.5em;
        margin: 20px 0px;
    }
}